
*{
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
#title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
}

.center{
    display: flex;
    justify-content: center;
}
.container {
    text-align: center;
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ecebe6;
    border: 2px solid #c5c5c5;
    border-radius: 10px;
    padding: 20px;
    width: 325px;
    height: 550px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container:hover{
    transform: scale(1.05);
}

.display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}

.inputs {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

button{
    width: 72px;
    border: none;
    border-radius: 7px;
    height: 72px;
    font-size: 28px;
}

.num{
    background-color:#3f3f3f;
    color: #d8d8d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pi,
.operator{
    background-color:#FFB22C;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#equals{
    background-color:#7fcf51;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:hover{
    transform: scale(1.05);
    background-image: linear-gradient(rgba(68, 64, 64, 0.05) 0 0);
    color: rgb(253, 253, 253);

}

.top{
    display: flex;
    width: 100%;   
}

.top>button{
    background-color:#e66d64;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.selected{
    color: white;

}

#square{
    background-color:#FFB22C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
